
/* Base CSS*/
@font-face{font-family:'CodeBold';
    src:url('fonts/CODEBold.eot');
    src:url('fonts/CODEBold.eot') format('embedded-opentype'), url('fonts/CODEBold.woff2') format('woff2'),
    url('fonts/CODEBold.woff')
    format('woff'),url('fonts/CODEBold.ttf')
    format('truetype'),
    url('fonts/CODEBold.svg#CODEBold')
    format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{font-family:'CodeLight';
    src:url('fonts/CODELight.eot');
    src:url('fonts/CODELight.eot') format('embedded-opentype'), url('fonts/CODELight.woff2') format('woff2'),url('fonts/CODELight.woff')
    format('woff'),url('fonts/CODELight.ttf')
    format('truetype'),
    url('fonts/CODELight.svg#CODELight')
    format('svg');
    font-weight:normal;
    font-style:normal;
}




.alignleft{
    float: left;
    margin-right: 15px;
}
.alignright{
    float: right;
    margin-left: 15px;
}
.aligncenter{
    display: block;
    margin:0 auto 15px;

}
a:focus{
    outline: 0 solid;
}
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 0 15px;
    font-weight: normal;
    font-family: 'CODEBold',sans-serif;
}
body{
    font-family: 'Karla', sans-serif
}
a:hover, a:focus{
    text-decoration: none;
}
.product-bg-1{background-image:url(img/lady-1.png)}
.product-bg-2{background-image:url(img/lady-2.png)}
.product-bg-3{background-image:url(img/lady-3.png)}
.product-bg-4{background-image:url(img/lady-4.png)}
.product-bg-5{background-image:url(img/lady-5.png)}
.product-bg-6{background-image:url(img/lady-6.png)}
.product-bg-7{background-image:url(img/lady-7.png)}
.product-bg-8{background-image:url(img/lady-8.png)}
.product-bg-9{background-image:url(img/lady-9.png)}
.product-bg-10{background-image:url(img/lady-10.png)}
.homepage-slider-wrap{background-image:url(img/hero-bg.jpg)}

/*header css*/

.header-top-area {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    z-index: 9;
}
.header-top-area a {
    color: #5b4050;
    padding: 15px;
    display: inline-block;
}

.header-left ul {
    padding: 0;
    list-style: outside none none;
    margin: 0;
}
.header-left li {
    display: inline-block;
}
.header-top-area a.menu-trigger {
    display: none;
}
.header-right {
    text-align: right;
}
.search-trigger i.fa {
    padding-left: 10px;
}


/* Homepage Slider*/
.homepage-slider-wrap {
    background-color: #F4EAE9;
    background-position: center;
    background-size: cover;
    height: 100%;
}
html, body {
    height: 100%;
}
.single-slide-item {
    position: relative;
}
.single-slide-item  img {
    bottom: 0;
    margin-left: -350px;
    position: absolute;
    width: 700px;
    left: 50%;
}

.slide-text-table {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9;
}
.homepage-slider-wrap div {
    height: 100%;
}
.slide-text-tablecell {
    display: table-cell;
    padding-left: 15%;
    vertical-align: middle;
    font-family:codelight, sans-serif;
    color: #E84F88;
    font-size: 120px;
    line-height: 101px;

}
.slide-text-tablecell strong{
    font-family: 'CODEBold', sans-serif;
    font-weight: normal;
}
.alternative-look{
    color:#6DB0C6;
}


.big-menu {
    background: #f1e5e5 none repeat scroll 0 0;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.big-menu li {
    float: left;
    font-family:codelight;
    font-size: 50px;
    width: 30%;
    transition: .2s;
}
.big-menu li:hover{
    opacity:.8;
}
.big-menu li a {
    display: block;
    padding: 170px 30px 30px;
    text-align: right;
    color: #d5d5d5;
    padding-top: 100px;;
}
.big-menu li:nth-child(1) {
    color: #E84F88;
    font-family:codelight;
}
.big-menu li:nth-child(2),.big-menu li:nth-child(3){
    width: 20%;
}
.big-menu li:nth-child(1) {
   background-color: #ECF3E8;
}
.big-menu li:nth-child(2) a{
    color: #E84F88;
    font-family: codebold;
}
.big-menu li:nth-child(2) {
    background-color: #F1E5E5;
}
.big-menu li:nth-child(3) {
    background-color: #F6F3E6;
}
.big-menu li:nth-child(3) {
    background-color: #ECF4F5;
}

